Done on all VPNs
/etc/ufw/ufw.conf
Enabled=no



Done on all VPNs
/etc/sysctl.conf
# Uncomment the next line to enable packet forwarding for IPv4
net.ipv4.ip_forward=1



Done on all VPNs
#create file
sudo touch /etc/logrotate.d/openvpnlog
# file content
/var/log/openvpn/*.log
{
        rotate 12
        monthly
        compress
        delaycompress
        copytruncate

}



VPN 01,02,03 VPNs
openvpn:x:65535:65534:openvpn:/nonexistent:/usr/sbin/nologin


VPN Entry
openvpn:x:1003:1004::/nonexistent:/bin/bash
openvpn ALL= NOPASSWD: /sbin/iptables
